

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  background-color: #f8f6f6;
  height: 140px;
  }

.logo-title{
  padding-left: 15px;
}

.logo-picture{
  width: 33px;
  height: 45px;
  display: block;
}

.logo-box{
  margin-bottom: 30px;
  margin-left: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu-btn{
  margin-right: 10px;
  margin-bottom: 30px;
  display: block;
  background-color: #f8f6f6;
  outline: none;
  border: none;
}


.two-block{
  min-height: 710px;
  background-color: #353535;
  width: 100%;
}

.title{
padding-top: 320px;
text-align: center;
font-size: 72px;
color: #d6c9c9;
}

.slogan{
text-align: center;
font-size: 36px;
color: #d6c9c9;
}

.mouse{
  display: block;
}

.mouse-box{
  padding-top: 170px;
  display: flex;
  justify-content: center;
}

.mouse-text{
  padding-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #d6c9c9;
}

.about-block{
 width: 100%;
 min-height: 570px;
 background-color: #ffffff;
}


.block-title{
  padding-top: 90px;
  display: block;
  text-align: center;
  color: #3d3d3d;
  font-size: 48px;
}

.block-slogan{
  padding-bottom: 70px;
  text-align: center;
  font-size: 14px;
  color: #988c8c;
}


.about-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 195px;
  background-color:#ebebeb;
}

.pic3{
  margin-top: 30px;
  margin-bottom: 24px;
  width: 50px;
  height: 57px;
  display: block;
}

.pic2{
  margin-top: 37px;
  margin-bottom: 28px;
  width: 48px;
  height: 44px;
  display: block;
}

.pic1{
  margin-top: 45px;
  margin-bottom: 38px;
  width: 60px;
  height: 27px;
  display: block;
}

.box-title{
  text-align: center;
  color: #707070;
  font-size: 17px;
}

.box-slogan{
  text-align: center;
  color: #707070;
  font-size: 14px;
  line-height: 17px;
}

.video-block{
background-color: #171f23;
min-height: 430px;
}

.left-col{
  background-color: #171f23;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.video-title{
  padding-top: 130px;
  text-align: center;
  color: #e7e7e7;
  font-size: 30px;
}

.video-text{
padding-top: 20px;
text-align: center;
color: #696969;
font-size: 14px;
line-height: 17px;
}

.video-btn{
 margin-top: 20px;
 cursor: pointer;
 display: block;
 width: 125px;
 height: 38px;
 background-color: #b11000;
 color: #ebebeb;
 border: none;
&:active, &:focus {
  outline: none;
&:hover{
  background-color: #e64e40;
  border-bottom: 2px solid #b11000;
    }
  }
}



.works{
min-height: 315px;
background-color: #ffffff;
}

.works-menu{
  display: flex;
  justify-content: center;
}

.nav-menu{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav-menu .link{
  font-size: 18px;
  color:#4d4140;
  margin: 0 18px;
  text-decoration: none;
&:hover{
  border-bottom: 2px solid #f4511e;
  font-weight: bolder;
  font-size: 18px;
  }
}

.works-content{
  background-color: #e84c3d;
  min-height: 525px;
}

.block-works{
  height: 175px;
  border: 1px solid #ed7468;
}

.inner-works{
  margin: 0px;
}

.who{
  min-height: 840px;
}

.who-inner{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 435px;
}

.inner-left{
display: flex;
flex-direction: column;
align-items: center;
background-color: #ebebeb;
}

.inner-right{
  padding-left: 90px;
  background-color: #ebebeb;
}

.circle{
  margin-top: 70px;
  width: 133px;
  height: 133px;
  border-radius: 50%;
  background-color: #f26c4f;
}

.develop{
  margin-top: 25px;
  font-size: 18px;
  color: #3d3d3d;
}

.post{
  font-weight: 400;
  font-size: 12px;
  color: #3d3d3d;
}

.social-slider{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.circle-slider{
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: white;
&:hover{
  cursor: pointer;
  background-color: #8e8181;
  }
}

.skills{
  margin-top: 120px;
  font-size: 23px;
  color: #3d3d3d;
}

.skills-text{
margin-top: 25px;
font-size: 13px;
color: #858383;
}

.photoshop-line{
display: flex;
}

.photoshop-line_orange{
width: 220px;
width: 100%;
height: 1px;
background-color: #e84c3d;
}

.photoshop{
  display: flex;
  align-items: center;
  height: 100%;
}

.photoshop-line{
  padding-top: 14px;
}

 .photoshop-line_white{
   min-width: 35px;
   height: 1px;
   background-color: white;
 }

.photoshop-title{
  padding-top: 4px;
  font-size: 16px;
  font-weight: bold;
 }

.prcent{
  padding-top: 3px;
  font-size: 16px;
}

.illustrator-line_white{
  width: 25px;
  height: 1px;
  background-color: white;
}

.illustrator-line_orange{
  width: 230px;
  width: 100%;
  height: 1px;
  background-color: #e84c3d;
}

.sketch-line_white{
  min-width: 20px;
  height: 1px;
  background-color: white;
}

.sketch-line_orange{
  width: 235px;
  width: 100%;
  height: 1px;
  background-color: #e84c3d;
}

.after-line_white{
  min-width: 10px;
  height: 1px;
  background-color: white;
}

.after-line_orange{
  width: 245px;
  width: 100%;
  height: 1px;
  background-color: #e84c3d;
}

.features{
  margin-top: 50px;
  min-height: 380px;
  background-color: #171f23;
}

.features-title{
  padding-top: 60px;
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 48px;
}

.features-line{
  max-width: 150px;
  background-color: #404040;
   height:1px;
}

.features-inner{
padding-top: 25px;
}

.features-box{

  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle-box{
  margin-top: 20px;
  color: #ffffff;
  font-size: 18px;
}

.tv-pic{
  margin-bottom: 9px;
}

.bag-pic{
  margin-bottom: 7px;
}

.number{
  color: #ffffff;
  font-size: 50px;
}

.blog{
  min-height: 800px;
}

.blog-inner{
  display: flex;
  justify-content: space-around;
}

.blog-block{
  min-height: 425px;
  background-color: #ebebeb;
}

.nature-img{
  width: 100%;
}

.nature{

}

.hover-wrap{
  position: relative;
  display: none;
  max-width: 100%;
  height: 100%;
}

.hover-box{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  max-height: 100%;
  height: 100%;
}


.icon-1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #e87e5d;
}

.icon-2{
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #f6e5e0;
}

.blog-date{
  display: flex;
}

.blog-subtitle{
  padding-top: 20px;
  padding-left: 40px;
 color: #505050;
 font-size: 18px;
}

.blog-text{
  padding-top: 20px;
  padding-left: 40px;
  color: #797979;
  font-size: 14px;
}

.date-text, .mas-numb{
  color: #797979;
  font-size: 10px;
}

.massanger{
  display: flex;
}

.blog-foot{
  padding-right: 30px;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
}


.icon{
 width: 13px;
 height: 12px;
 margin-top: 0px;
}

.plan{
  min-height: 700px;
  background-color: #171f23;
}

.plan-inner{
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.price-box{
  border: 1px solid #171f23;
  min-height: 450px;
  &:hover{
    border: 1px solid #f6744b;
    .bold{
      color: #f6744b;
    }
  }
}

.price-head{
  min-height: 125px;
  background-color: #0e1316;
}

.price-down{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f282c;
  min-height: 325px;
}

.price{
  padding-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.cost{
  color: white;
  text-align: center;
  font-size: 36px;
  font-weight: 300;
}

.statistic{
  padding-top: 45px;
  font-size: 14px;
  text-align: center;
  color: white;
  line-height: 35px;
}

.bold{
  font-weight: bold;
  padding-right: 5px;
}

.price-btn{
  color: white;
  background-color: #f6744b;
  width: 125px;
  height: 35px;
  outline: none;
  border-style: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: block;
}

.get{
  min-height: 695px;
}

.get-input{
  display: flex;
  justify-content: space-around;
}

.name{
 min-height: 70px;
}

.subtitle-input{
  font-weight: bold;
 color: grey;
 font-size: 14px;
}

.red{
  padding-left: 3px;
  color: #f6744b;
}

.frame {
  max-width: 370px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #cacaca;
}


.get-box{
  margin-top: 30px;
display: flex;
justify-content: center;
}

.get-area{
  display: block;
  resize:none;
  border: none;
  outline: none;
  width: 100%;
  border-bottom: 1px solid #cacaca;
}

.get-btn{
  margin: 0 auto;
  display: block;
  margin-top: 60px;
  color: white;
  background-color: #f6744b;
  max-width: 200px;
  width: 100%;
  height: 50px;
  outline: none;
  border-style: none;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}

.location{
  margin-top: 40px;
  min-height: 85px;
  background-color: #0c1215;
  display: flex;
  justify-content: center;
  align-items:center;
}

.location-title{
  color: white;
}

.location-btn{
  cursor: pointer;
  margin-left: 20px;
  padding-bottom: 8px;
  display: block;
  background-color: #0c1215;
  outline: none;
  border: none;
}

.footer{
  min-height: 240px;
  background-color: #171f23;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-pic{
  margin-top: 40px;
}

.title-logo, .text-footer{
  color: white;
}

.carusel{
  height: 200px;
}
