@font-face {
font-family: "MyriadPro";
src: url("fonts/MyriadPro-Regular") format("truetype");
}

html, body {
 padding: 0;
 margin: 0 auto;
 background-color: white;
}

* {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.wrapper{
width: 100%;
max-width: 1200px;
margin: 0 auto;}

.block-left {
  float: left;
  width: 45%;
  max-width: 540px;
  background-color: white;
}

.circle-blue{
  width: 100%;
  max-width: 540px;
  position: absolute;
  left: 245px;
  top: 105px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #3f6fb6;
}

.circle-white{
  width: 100%;
  max-width: 540px;
  position: absolute;
  left: 230px;
  top:90px;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 2px solid #3f6fb6;
}

.logo{
  width: 100%;
  max-width: 540px;
  line-height: 25px;
  margin-top: 360px;
  text-align: center;
}

.logo h1{
  display: block;
  font-size: 53px;
  font-family: "MyriadPro";
}

.logo h2{
  display: block;
  font-family: "MyriadPro";
  font-weight: bold;
  font-size: 61px;
}

.logo h3{
  display: block;
  font-family: "MyriadPro";
  font-weight: bold;
  font-size: 25px;
}

.profile-logo{
  display: block;
  margin-left: 60px;
  margin-top: 50px;
  width: 100%;
  max-width: 540px;
  height: 75px;
}

.photo{
  float:left;
  height: 74px;
  width: 74px;
}

.profile-logo P{
  padding-left: 11px;
  padding-top: 18px;
  width: 145px;
  float: left;
  font-family: "MyriadPro";
  font-weight: bold;
  font-size: 42px;
  color: #3f6fb6;
}

.blue-line{
  margin-top: 36px;
  margin-left: 21px;
  float: left;
  height: 5px;
  width: 168px;
  background-color: #3f6fb6;
}

.text{
  line-height: 16px;
  float:left;
  font-family: "MyriadPro";
  font-size: 15px;
  margin-left: 60px;
  margin-top: 13px;
}

.textbold{
  font-weight: bold;
  font-family: "MyriadPro";
  font-size: 15px;
}

.contact-logo{
  display: block;
  margin-left: 50px;
  margin-top: 265px;
  width: 100%;
  max-width: 540px;
  height: 75px;
}

.photo{
  float:left;
  height: 74px;
  width: 74px;
}

.contact-logo P{
  padding-left: 11px;
  padding-top: 18px;
  width: 145px;
  float: left;
  font-family: "MyriadPro";
  font-weight: bold;
  font-size: 42px;
  color: #3f6fb6;
}

.line-contact{
  margin-top: 36px;
  margin-left: 50px;
  float: left;
  height: 5px;
  width: 150px;
  background-color: #3f6fb6;
}

.text{
  line-height: 16px;
  float:left;
  font-family: "MyriadPro";
  font-size: 15px;
  margin-left: 60px;
  margin-top: 13px;
}

.textbold{
  font-weight: bold;
  font-family: "MyriadPro";
  font-size: 15px;
}

ul{
  margin-left: 50px;
  margin-top: -13px;
  font-family: "MyriadPro";
  font-size: 20px;
  height:auto;
  width: 350px;
  float:left;
}

li{
  margin-top: 40px;
}

li span{
  color:#3f6fb6;
}

.skills-logo{
  display: block;
  margin-left: 50px;
  margin-top: 280px;
  width: 100%;
  max-width: 540px;
  height: 75px;
}

.skills-logo P{
  padding-left: 11px;
  padding-top: 18px;
  width: 145px;
  float: left;
  font-family: "MyriadPro";
  font-weight: bold;
  font-size: 42px;
  color: #3f6fb6;
}

.line-skills{
  margin-top: 36px;
  margin-left: 0px;
  float: left;
  height: 5px;
  width: 200px;
  background-color: #3f6fb6;
}


.circle-b{
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: #3f6fb6;
}

  .circle-grey{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #e6e6e6;
  }

.creat{
  font-family: "MyriadPro";
  font-size: 21px;
  margin-left: 220px;
  margin-top: 25px;
}

.creative{
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  margin-left: 105px;
  margin-top: 13px;
  height: 17px;
  width: 325px;
}

.circle-b{
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: #3f6fb6;
}

  .circle-grey{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #e6e6e6;
  }

.team{
  font-family: "MyriadPro";
  font-size: 21px;
  margin-left: 220px;
  margin-top: 25px;
}

.teamwork{
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  margin-left: 105px;
  margin-top: 13px;
  height: 17px;
  width: 325px;
}

.circle-b{
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: #3f6fb6;
}

  .circle-grey{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #e6e6e6;
  }

.team{
  font-family: "MyriadPro";
  font-size: 21px;
  margin-left: 200px;
  margin-top: 25px;
}

.teamwork{
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  margin-left: 105px;
  margin-top: 13px;
  height: 17px;
  width: 325px;
}

.circle-b{
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: #3f6fb6;
}

  .circle-grey{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #e6e6e6;
  }

.innov{
  font-family: "MyriadPro";
  font-size: 21px;
  margin-left: 210px;
  margin-top: 25px;
}

.innovate{
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  margin-left: 105px;
  margin-top: 13px;
  height: 17px;
  width: 325px;
}

.circle-b{
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: #3f6fb6;
}

  .circle-grey{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #e6e6e6;
  }

.com{
  font-family: "MyriadPro";
  font-size: 21px;
  margin-left: 170px;
  margin-top: 25px;
}

.communication{
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  margin-left: 105px;
  margin-top: 13px;
  height: 100px;
  width: 325px;
}

.block-right{
  width: 55%;
  max-width: 660px;
  float: right;
  background-color: white;
}

.education-logo{
  height: 75px;
  width: 100%;
  max-width: 660px;
  margin-top: 75px;
  margin-left: 10px;
}

.education-logo P{
  padding-left: 11px;
  padding-top: 18px;
  width: 145px;
  float: left;
  font-family: "MyriadPro";
  font-weight: bold;
  font-size: 42px;
  color: #3f6fb6;
}

.education-line{
  float: left;
  margin-top: 35px;
  margin-left: 79px;
  height: 5px;
  width: 310px;
  background-color: #3f6fb6;
}

.md{
  margin-top: 180px;
  display: flex;
}

.marker{
  margin-left: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
}

.text-education{
  margin-left: 21px;
}

.master {
    font-family: "MyriadPro", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #3d6cb0;
    margin-right: 20px;
}
.dates {
  font-family: "MyriadPro", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
.univ {
  font-family: "MyriadPro", sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.desc {
  font-family: "MyriadPro", sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.md-second{
  margin-top: 20px;
  display: flex;
}

.marker-second{
    margin-left: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
}

.text-education-second{
  margin-left: 21px;
}

.master-second {
  font-family: "MyriadPro", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #3d6cb0;
  margin-right: 20px;
  }

  .dates-second {
    font-family: "MyriadPro", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .univ-second {
    font-family: "MyriadPro", sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .desc-second {
    font-family: "MyriadPro", sans-serif;
    font-weight: normal;
    font-size: 16px;
  }

  .experience-logo{
    display: block;
    margin-left: 10px;
    margin-top: 55px;
    width: 100%;
    max-width: 660px;
    height: 75px;
  }

  .experience-logo P{
    padding-left: 11px;
    padding-top: 18px;
    width: 145px;
    float: left;
    font-family: "MyriadPro";
    font-weight: bold;
    font-size: 42px;
    color: #3f6fb6;
  }

  .experience-line{
    margin-top: 36px;
    margin-left: 90px;
    float: left;
    height: 5px;
    width: 305px;
    background-color: #3f6fb6;
  }

.md-cn{
  margin-top: 45px;
  display: flex;
}

.md-cn-second{
  margin-top: 20px;
  display: flex;
}

.software-logo{
  display: block;
  margin-left: 10px;
  margin-top: 55px;
  width: 100%;
  max-width: 660px;
  height: 75px;
}

.software-logo P{
  padding-left: 11px;
  padding-top: 18px;
  width: 145px;
  float: left;
  font-family: "MyriadPro";
  font-weight: bold;
  font-size: 42px;
  color: #3f6fb6;
}

.software-line{
  margin-top: 36px;
  margin-left: 90px;
  float: left;
  height: 5px;
  width: 310px;
  background-color: #3f6fb6;
}

.ph{
font-family: "MyriadPro";
font-size: 20px;
margin-left: 10px;
margin-top: 30px;
}

.left-soft{
  width: 50%;
  width-max:270px;
  height: 220px;
  float: left;
}

.lines{
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
}

.line-photoshop{
  height: 20px;
  width: 250px;
  background-color: #3d6cb0;
}

.line-photoshop-second{
width: 25px;
height: 20px;
background-color: #e6e6e6;
}

.line-illustrator{
  height: 20px;
  width: 195px;
  background-color: #3d6cb0;
}

.line-illustrator-second{
width: 80px;
height: 20px;
background-color: #e6e6e6;
}

.line-indesign{
  height: 20px;
  width: 155px;
  background-color: #3d6cb0;
}

.line-indesign-second{
width: 120px;
height: 20px;
background-color: #e6e6e6;
}

.right-soft{
margin-right: 30px;
float: right;
width: 50%;
max-width: 270px;
height: 220px;
}

.line-dream{
  height: 20px;
  width: 205px;
  background-color: #3d6cb0;
}

.line-dream-second{
width: 45px;
height: 20px;
background-color: #e6e6e6;
}

.line-after{
  height: 20px;
  width: 145px;
  background-color: #3d6cb0;
}

.line-after-second{
width: 105px;
height: 20px;
background-color: #e6e6e6;
}

.line-hc{
  height: 20px;
  width: 225px;
  background-color: #3d6cb0;
}

.line-hc-second{
width: 25px;
height: 20px;
background-color: #e6e6e6;
}

@font-face {
font-family: "MyriadPro";
src: url("fonts/MyriadPro-Regular.otf") format("truetype");
}

@media screen and (max-width: 700px) {
.block-left, .block-right, .left-soft, .right-soft{
  padding-left: 40px;
  margin: 0px;
  display:block;
     float: none;
     width: 100%
  }
