



body, html{
  margin: 0 auto;
}

*{
  box-sizing: border-box;
}

.header{

  margin:  0 auto;
  background-color: #ffffff;
  display: flex;
  width: 100%;
  max-width: 1200px;
  max-height: 93px;
  justify-content: space-between;
  padding-top: 22px;
}

.header__logo{
  padding-bottom: 10px;
}

.heder__list{
  padding-top: 8px;
  display:flex;
  list-style-type: none;
}

.header__link_yellow{
 width: 100px;
 border-radius: 3px;
 background-color: #ffbb42;
 padding: 12px 22px;
}

.header__link{
  text-decoration: none;
  color: #ababab;
  margin: 18px;
  font-size: 13px;
  font-family:'Lato', sans-serif;
}

.header__link:hover, .header__link_yellow:hover {
  box-shadow: 0px 0px 10px 10px rgb(234, 235, 238);
  transition-delay: 0.15s;
}

.content{
position: relative;
margin: 0 auto;
max-width: 1700px;
height: 585px;
background-color: #709dca;
}

.content__heading{
  padding-top: 110px;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 35px;
  font-weight: bold;
  font-family: 'OpenSans', sans-serif;
}

.content__text{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 16px;
  font-family: 'OpenSans', sans-serif;
}

.content__inner{
  padding-top: 35px;
  margin: 0 auto;
  max-width: 1200px;
  max-height: 45px;
  display: flex;
  justify-content: center;
  }

.content__input_fullname{
  border: none;
  outline: none;
  color: black;
  background-position:15px;
  width: 280px;
  height: 45px;
  box-sizing: border-box;
  background-image: url(./images/logo-name.png);
  background-repeat: no-repeat;
  padding-left: 40px;
  border-radius: 3px solid #709dca;
}

.content__input_email{
  border: none;
  outline: none;
  color: black;
  background-position:15px;
  width: 280px;
  height: 45px;
  box-sizing: border-box;
  background-image: url(./images/logo-email.png);
  background-repeat: no-repeat;
  padding-left: 40px;
  border-radius: 3px;
}

.content__input_phone{
  border: none;
  outline: none;
  color: black;
  background-position:15px;
  width: 280px;
  height: 45px;
  box-sizing: border-box;
  background-image: url(./images/logo-phone.png);
  background-repeat: no-repeat;
  padding-left: 40px;
  border-radius: 3px;
}

.content__input_fullname::-webkit-input-placeholder { color: #d9d9d9; }
.content__input_email::-webkit-input-placeholder { color: #d9d9d9; }
.content__input_phone::-webkit-input-placeholder { color: #d9d9d9; }

.content__btn{
  border: none;
  background-color: #ffbb42;
  width: 210px;
  height: 45px;
  color: white;
}

.content__btn:hover{
  color:grey;
  cursor: pointer;
}

.content__img{
  position: absolute;
  top: 310px;
  display:flex;
  justify-content: center;
  right: 0px;
  left:0px
}

.content__img_laptop{
  display: block;
}

.holder{
  margin: 0 auto;
  height: 920px;
  max-width: 1700px;
}

.holder__slider{
  display: flex;
  justify-content: space-between;
  max-width: 60px;
  max-height: 16px;
  margin: 0 auto;
  padding-top: 83px;

}

.holder__control{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid #dedfe0;
}

.holder__control:hover{
  border: 3px solid #1ca8dd;
}

.holder__heading{
  margin-top: 110px;
  display: flex;
  justify-content: center;
  color:#394b50;
  font-size: 30px;
  font-family: 'OpenSans', sans-serif;
  font-weight: bold;
}

.holder__slogan{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color:#394b50;
  font-size: 16px;
  font-family: 'OpenSans', sans-serif;
}

.holder__grid{
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1100px;
  max-height: 425px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.holder__box-subtitle{
  font-weight: bold;
  font-size: 16px;
  font-family:'Lato', sans-serif;
  position: absolute;
  color: #394b50;

}

.holder__box-image{
  height: 100%;
  width: 47px;
  padding-top: 30px;
}

.holder__box-text{
  line-height: 20px;
  font-size: 13px;
  font-family: 'OpenSans', sans-serif;
  color:#c0c0c0;
  box-sizing: border-box;
  padding-top: 34px;
  padding-left: 20px;
  }

.holder__box{
  margin-top: 85px;
  width: 550px;
  max-height: 140px;
  display: flex;
  position: relative;
}

.container-information{
  margin: 0 auto;
  max-width: 1700px;
  width: 100%;
  height: 450px;
  background-color: #ffc155;

}





.container-information__inner{
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: auto;
}

.container-information__picture{
background-image: url(./images/table.png);
background-repeat: no-repeat;
max-width: 613px;
max-height: 450px;

  }
.container-information__pictures{
  max-width: 650px;
  max-height: 450px;
}


.container-information__box{
  margin-left: 40px;
  max-width: 600px;
  width: 100%;
}
.container-information__heading{
  padding-top: 35px;
  color: white;
  font-weight: bold;
  font-family: 'OpenSans', sans-serif;
  font-size: 30px;
}



.container-information__text{
  padding-top: 30px;
  max-width: 500px;
  width: 100%;
  color: white;
  line-height: 24px;
  font-size: 12px;
  font-family: 'OpenSans', sans-serif;
}

.container-information__btn{
  margin-top: 60px;
  width: 144px;
  height: 44px;
  border: 1px solid grey;
  background-color: #ffc155;
  color: white;

}

.container-information__btn:hover{
  color: grey;
  cursor: pointer;
}

.container-price{
  margin:  0 auto;
  background-color: #e7edf3;
  max-width: 1700px;
  height: 896px;
}

.container-price__heading{
  padding-top: 135px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: 'OpenSans', sans-serif;
  color: #4b5a5f;
  font-weight: bold;
}

.container-price__slogan{
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-family: 'OpenSans', sans-serif;
  color: #87989d;
  padding-top: 10px;
}


.container-price__inner{
  padding-top: 82px;
  margin: 0 auto;
  max-width: 1200px;
  height: 500px;
  display: flex;
  justify-content: center;

}

.container-price__features{
  border-top: 1px solid #ccd5df;
  border-left: 1px solid #ccd5df;
  border-bottom: 1px solid #ccd5df;
  text-align: center;
  width: 387px;
  height: 438px;
  background-color: white;
}

.container-price__subtitle{
  margin-top: 52px;
  color: #818b95;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

.container-price__cost{
  color: #ffbb42;
  margin-top: 32px;
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  font-weight: bold;
}

.container-price__cost_index{
  vertical-align: super;
  margin-top: 35px;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.container-price__month{
  color: #818b95;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  margin-top:
}

.container-price_list{
  list-style-type: none;
  margin-top: 30px;
}

.container-price_item{
  margin: 0 auto;
  width: 330px;
  padding: 15px;
  border-top: 1px solid #e2e9f0;
  color: #c5cace;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
}

.container-price__btn{
width: 130px;
height: 40px;
background-color: #ffbb42;
color:white;
border: none;
border-radius: 3px;
outline-color: grey;
cursor: pointer;
margin-top: 8px;
}

.container-price__features:hover{

  background-color: #709dca;
  transform: scale(1.15);
}

.container-price__features:hover .container-price__cost{color: white;}
.container-price__features:hover .container-price__month{color: white;}
.container-price__features:hover .container-price__cost_index{color: white;}
.container-price__features:hover .container-price__subtitle{color: white;}

.container-work{
  margin:  0 auto;
  max-width: 1700px;
  height: 858px;
}

.container-work__heading{
  padding-top: 150px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: 'OpenSans', sans-serif;
  color: #4b5a5f;
  font-weight: bold;
}

.content-work__slogan{
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-family: 'OpenSans', sans-serif;
  color: #87989d;
  padding-top: 10px;
}

.content-work__img{
  padding-top: 60px;
  display: block;
  margin: 0 auto;
  max-width: 970px;
  width: 100%;
}

.container-work__inner{
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  max-height: 230px;
  width: 100%;
  height: 100%;
}

.container-work__box{
  text-align: center;
  width: 25%;
  height: 100%;
  margin-top: 30px;
}

.container-work__subtitle{
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color:#394b50;
}

.container-work__text{
  padding-top: 25px;
  font-size: 13px;
  font-family: 'OpenSans', sans-serif;
  color:#7b7b7b;
  line-height: 24px;
}

.container-work__btn{
  display: block;
  width: 163px;
  height: 45px;
  background-color: #ffbb42;
  border-radius: 2px;
  margin: 0 auto;
  color: white;
  border: none;
}

.container-work__btn:hover{
  color: grey;
  border: 2px solid grey;
  border-color: grey;
  cursor:pointer;
  transition-delay: 0.15s;
}

.client-block{
  margin: 0 auto;
  max-width: 1700px;
  width: 100%;
  height: 905px;
  background-color: #ffbb42;
}

.client-block__heading{
  padding-top: 140px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: 'OpenSans', sans-serif;
  color: #ffffff;
  font-weight: bold;
}

.client-block__slogan{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-family: 'OpenSans', sans-serif;
  color: #ffffff;
  padding-top: 10px;
}

.client-block__inner{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 520px;
  box-sizing: border-box;
}

.client-block__box{
  position: relative;
  display: flex;
  max-width: 565px;
  width: 100%;
  height: 240px;
  background-color: white;
}

.clieent-block__avatar{
  height: 121px;
  margin-left: 28px;
  margin-top: 44px;
}



.client-block__lead{
  color: #ffbb42;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  margin-left: 30px;
  margin-top: 20px;
}

.client-block__lead_grey{
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #99a9ae;

}

.clieent-block__text{
  line-height: 24px;
  color: #7b7b7b;
  padding-top: 50px;
  font-size: 13px;
  font-family: 'OpenSans', sans-serif;
  padding-left: 30px;
}

.letter-block{
  margin: 0 auto;
  height: 340px;
  max-width: 1200px;
  width: 100%;
}

.letter-block__heading{
  padding-top: 150px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: 'OpenSans', sans-serif;
  color: #394b50;
  font-weight: bold;
}

.letter-block__slogan{
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-family:'OpenSans', sans-serif;
  color: #394b50;
  padding-top: 7px;
}

.letter-block__inner{
  padding-top: 35px;
  margin: 0 auto;
  max-width: 1200px;
  max-height: 45px;
  display: flex;
  justify-content: center;
}

.letter-block__input_name::-webkit-input-placeholder { color: #d9d9d9; }
.letter-block__input_email::-webkit-input-placeholder { color: #d9d9d9; }

.letter-block__input_name{
  border-color: grey;
  border: 1px solid grey;
  outline: none;
  background-position: 15px;
  width: 305px;
  height: 45px;
  box-sizing: border-box;
  background-image: url(./images/logo-name.png);
  background-repeat: no-repeat;
  padding-left: 40px;
  border-radius: 3px;
}

.letter-block__input_email{
  border: 1px solid grey;
  outline: none;
  background-position:15px;
  width: 385px;
  height: 45px;
  box-sizing: border-box;
  background-image: url(./images/logo-email.png);
  background-repeat: no-repeat;
  padding-left: 40px;
  border-radius: 3px;
}

.letter-block__btn{
  border: none;
  background-color: #ffbb42;
  width: 218px;
  height: 45px;
  color: white;
}

.letter-block__btn:hover{
  cursor: pointer;
  color:grey;
}

.adress-block{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height:605px;
  background-image: url(./images/map.png);
  background-repeat: no-repeat;
}

.adress-block__around{
  text-align: center;
  width: 288px;
  height: 288px;
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  background-color: #394b50;
}

.adress-block__subtitle{
  padding-top: 65px;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  color: white;
}


.adress-block__text{
  padding-top: 20px;
  color: #aeb7ba;
  font-family:'Lato', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.adress-block__link{
  text-decoration: none;
  color: #9c7f4b;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.adress-block__triangle{  /*ТРЕУГОЛЬНИК*/
  margin-left: 49%;
  margin-top: -2px;
  width: 0;
  height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
  border-top: 16px solid #394b50;
}

.adress-block__figure{


}
.adress-block__logo{
margin-left: 43%;
}

.footer-block{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 215px;
}

.footer-block__line{
  height: 1px;
  background-color: #e3e7ec;
}

.footer-block__menu{
  margin-top: 65px;

}
.footer-block__list{
  display:flex;
  justify-content: center;
  list-style-type: none;
}

.footer-block__link{
  text-decoration: none;
  color: #394b50;
  margin: 15px;
  font-size: 13px;
  font-family:'Lato', sans-serif;
}

.footer-block__link:hover{
  box-shadow: 0px 0px 10px 10px rgb(234, 235, 238);
  transition-delay: 0.15s;
}

.footer-block__phone-number{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.footer-block__picture{
margin-top: 3px;
width: 16px;
height: 17px;
}

.footer-block__number{
  padding-left: 15px;
  color: #394b50;
  font-size: 22px;
  font-family: 'Lato', sans-serif;
}

.footer-block__icons{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.footer-block__icon{
  margin: 8px;
}

.footer-row{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1700px;
  width: 100%;
  height: 48px;
  background-color: #709dca;
  }

.footer-row__text{
  max-width: 100%;
  display: flex;
  padding-top: 18px;
  color:white;
  font-size: 13px;
  font-family: 'OpenSans', sans-serif;
}
