@font-face {
font-family: "Merriweather";
src: url(./fonts/Merriweather/MerriweatherSans-Italic) format("truetype");
}

body,html{
  margin: 0px;
  font-family: sans-serif;
}

*{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

  .header{
    margin: 0px auto;
    background-image: url(./images/Take.png);/* Путь к фоновому изображению */
    max-height: 950px;
    width: 100%;
    height: 100%;
    max-width: 1800px;
    background-size: 100% 100%;

  }

  .logo-take{
    position: relative;
    padding-left: 150px;
    padding-top: 65px;
    width: 95px;
    height: 45px;
  }

  .around-one{
    position: absolute;
    left: 162px;
    top:77px;
    float: left;
    width: 16px;
    height: 16px;
    border-radius:50%;
    border:3px solid white;
  }

  .around-two{
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    border-radius:50%;
    border:3px solid white;
  }

.logo-text{
  padding-left: 50px;
  padding-top: 8px;
  font-family: "Merriweather";
  font-size: 21px;
  color: white;
}

.picture-perfect{
  margin-top: 355px;
  margin-left: 310px;
  width: 436px;
  height: 115px;
}

.headline{
  font-family: "OpenSans";
  font-size: 60px;
  color: white;
  margin-top: 0px;
  margin-left: 0px;
}

.perfect-text{
  line-height: 24px;
  font-family: "OpenSans";
  font-size: 13px;
  color: white;
  margin-top: 50px;
}

  .mobile-image{
    max-width: 500px;
    width: 100%;
    max-height: 869px;
    height: 100%;
    position: relative;
    left: 950px;
    top: -300px;
  }


.start-content{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-height: 540px;
  max-width: 1200px;
}

.left-col{
  float: left;
  padding-left:0px;
  padding-top: 115px;
  max-width: 560px;
  max-height: 540px;
}

.start-headline{

  max-height: 60px;
  max-width: 320px;
  color: #222626;
  font-size: 35px;
  font-family: "OpenSans"
}

.start-text{
  padding-top: 30px;
  line-height: 24px;
  max-height: 95px;
  max-width: 560px;
  color: #a5a5a5;
  font-size: 14px;
  font-family: "OpenSans"
}

.start-texts{
  padding-top: 30px;
  line-height: 24px;
  max-height: 120px;
  max-width: 560px;
  color: #a5a5a5;
  font-size: 14px;
  font-family: "OpenSans"
}

.right-col{
  float: left;
  margin-left: 35px;
  max-width: 570px;
  max-height: 250px;
  margin-top: 270px;
}

.holder{
 margin: 0px auto;
 width: 100%;
 max-width: 1200px;
 height: 100%;
 max-height: 180px;
}

.design{
  float: left;
  width: 100%;
  max-width: 20%;
  height: 100%;
  max-height: 200px;
  background-color: #f5989d;
}

h2{
  padding-left: 20px;
  padding-top: 20px;
  width: 200px;
  height: 16px;
  color: white;
  font-size: 24px;
  font-family: "OpenSans";
}

.text-dolor{
  padding-left: 20px;
  padding-top: 30px;
  line-height: 15px;
  width: 250px;
  height: 60px;
  color: white;
  font-size: 10px;
  font-family: "OpenSans";
}

.holder a{
  display: block;
  padding-left: 20px;
  margin-top: 70px;
  width: 180px;
  height: 12px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 10px;
}

 a:hover{
    color: grey;
  }

.design-built{
  float: left;
  width: 100%;
  max-width: 20%;
  height: 100%;
  max-height: 277px;
  background-color: #615f7d;
}

  .design-ice{
    float: left;
    width: 100%;
    max-width: 20%;
    height: 100%;
    background-image: url(./images/ice.png);
    background-size: 100% 100%;/*Чтобы совсем все влезало + растянуть:*/
  }

  .design-great{
    float: left;
    width: 100%;
    width:40%;
    height: 100%;;
    background-color: #bd8cbf;
  }

  .texts-dolor{
    width: 100%;
    padding-left: 20px;
    padding-top: 30px;
    line-height: 15px;
    height: 60px;
    color: white;
    font-size: 10px;
    font-family: "OpenSans";
  }

.design-sign{
  float: left;
  width: 100%;
  max-width: 40%;
  height: 100%;
  background-image: url(./images/sign.png);
  background-size: 100% 100%;
}

.design-perfect{
  float: left;
  width: 100%;
  max-width: 20%;
  height: 100%;
  max-height: 277px;
  background-color: #82ca9c;
}

.design-new{
  float: left;
  width: 100%;
  max-width: 40%;
  height: 100%;
  background-image: url(./images/startimage.png);
  background-size: 100% 100%;/*Чтобы совсем все влезало + растянуть:*/
}

.details{
  clear: both;
  width: 0px;
  height: 0px;
}

.look{
margin: 0 auto;
padding-top: 95px;
width: 100%;
height: 27px;
max-width: 1200px;
}

.web-content{
  max-height: 500px;
  max-width: 1200px;
  margin: 0px auto;
}

h1{
  height: 27px;
  color: #222626;
  font-size: 35px;
  font-family: "OpenSans";
}

h3{
  padding-top:100px;
  color: #8d8d91;
  width: 65px;
  height: 10px;
  font-weight: bold;
  font-size: 13px;
  font-family: "OpenSans";
}

.web-text{
  line-height: 24px;
  padding-top: 35px;
  color: #8d8d91;
  height: 60px;
  font-size: 14px;
  font-family: "OpenSans";
}

.web{
  float: left;
  height: 170px;
  width: 300px;
}

.car{
  background-image: url(./images/car.png);
  background-size: 100% 100%;/*Чтобы совсем все влезало + растянуть:*/
  margin: 0px auto;
  max-width: 1800px;
  max-height: 874px;
}

 .car h1{
   padding-left: 300px;
   padding-top: 350px;
   width: 750px;
   color: white;
   font-size: 50px;
}

.car p{
  height: 200px;
  padding-left: 300px;
  padding-top: 150px;
  color: white;
  font-size: 13px;
  font-family: "OpenSans";
  line-height: 24px;
  }

.car a{
    display: block;
    padding-left: 300px;
    width: 400px;
    height: 12px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 13px;
    font-family: "OpenSans";
  }

   a:hover{
      color: grey;
    }

.reasons{
  padding-left: 300px;
    background-color: #82ca9c;
    margin: 0 auto;
    padding-top: 95px;
    width: 100%;
    height: 27px;
    max-width: 1800px;
    }


.reasons-content{
  display: flex;
  width: 100%;
  padding-left: 300px;
  max-width: 1800px;
  margin: 0 auto;
  max-height: 500px;
  background-color: #82ca9c;
}

.web-one{

  height: 150px;
  width: 380px;
}

.web-one h3, .web-one p, .reasons h1{
  color: white;
}

.solo{
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1800px;
  height: 630px;
  background-color:#f6f7fa;
  padding-left: 300px;
}

.col-left, .col-right{
margin-top: 100px;
width:600px;
height: 400px;
}

.col-left:hover, .col-right:hover{
background-color: #ffffff;
margin-top: 100px;
width:600px;
height: 400px;
box-shadow: 0px 0px 30px 30px rgb(234, 235, 238);
border-radius: 3px;
}

span{
    display: block;
    font-size: 11px;
    background-color: #bdbdbe;
    color: white;
    width: 77px;
    height: 24px;
    text-align: center;
    padding: 7px 15px;
    border-radius: 5px;
    border:0px solid;
}

h4{
  padding-top: 30px;
  height: 23px;
  width: 125px;
  font-size: 30px;
  font-family: "OpenSans";
  }

.col-left p{
  height: 166px;
  padding-top: 50px;
  font-size: 14px;
  font-family: "OpenSans";
  line-height: 24px;
}

.buy{
  display: block;
  font-size: 14px;
  font-family: "OpenSans";
  padding: 20px 35px;
  height: 50px;
  width: 161px;
  border-radius: 3px;
  outline: none;
  border: 0px;
  background-color: #82ca9c;
}

.col-right span{
  display: block;
  font-size: 11px;
  background-color: #bdbdbe;
  color: white;
  width: 118px;
  height: 24px;
  text-align: center;
  padding: 7px 15px;
  border-radius: 5px;
  border:0px solid;
}

.col-right h4{
  padding-top: 30px;
  height: 23px;
  width: 130px;
  font-size: 30px;
  font-family: "OpenSans";
  }

  .col-right p{
    height: 166px;
    padding-top: 50px;
    font-size: 14px;
    font-family: "OpenSans";
    line-height: 24px;
  }

  .logo-img{
    padding-top: 20px;
    width: 60px;
    display:flex;
    justify-content: space-between;

  }
  .logo-apple{
    width: 20px;
    height: 25px;
  }

  .logo-windows{
    width: 24px;
    height: 24px;
  }

footer{
  display: flex;
  margin: 0 auto;
  max-width: 1800px;
  height: 600px;
  background-color: #192431;
}

.left-column{
  margin-left: 300px;
  max-width: 700px;
  max-height: 330px;
}

.left-column h5{
  color: #ecedf0;
  padding-top: 130px;
  height: 23px;
  width: 130px;
  font-size: 13px;
  font-family: "OpenSans";
}

.left-column p{
  color: #ecedf0;
  padding-top: 35px;
  height: 60px;
  font-size: 13px;
  font-family: "OpenSans";
  line-height: 20px;
}

.nav{
height: 30px;
}
.nav h6{
  color: #ecedf0;
  padding-top: 65px;
  height: 11px;
  font-size: 13px;
  font-family: "OpenSans";
  line-height: 20px;
  font-weight: bold;
}

.resources-nav{
  width: 100px;
  list-style-type: none;
  margin-top: 50px;
}

li a{
  text-decoration: none;
  color: #ecedf0;
  font-size: 13px;
  font-family: "OpenSans";
  line-height: 20px;
}

.footer-nav{
  display: flex;
  width: 510px;
  height:150px;
}

.right-column{
  padding-left: 100px;
max-width: 500px;
max-height: 150px;
}

  .right-column h5{
    color: #ecedf0;
    margin-top: 130px;
    height: 23px;
    width: 130px;
    font-size: 13px;
    font-family: "OpenSans";
  }

.search{
  display: flex;
  height: 70px;
}

  input{
    margin-top: 15px;
    width: 350px;
    height: 50px;
    border-radius: 2px;
}

.yes{
  padding-top: 18px;
  padding-left: 18px;
  text-decoration: none;
  color: white;
}

.input-yes{
  margin-top: 15px;
  width: 50px;
  height: 50px;
  background-color: #82ca9c;
  }


  .input-yes:hover .yes{
      color: black;
  }

  .input-yes:hover{
      box-shadow: 0px 0px 10px 1px white;
  }

  .end{
    color: #3e4d5f;
    padding-top: 10px;
    height: 20px;
    font-size: 12px;
    font-family: "OpenSans";
    line-height: 20px;
  }
