
$color:white;


@font-face:{
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat.ttf');
}
@font-face:{
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto.ttf');
}

*{
  box-sizing: border-box;
}

.head{
  margin: 0 auto;
  background-image: url(./images/head.png);
  background-color: rgba(0, 0, 0, 0.1);
  max-width: 1600px;
  width: 100%;
  height: 786px;
}

.logo-subtitle{
  height: 120px;
  display: flex;
  align-items: center;
  font-family: 'Montserrat';
  color: $color;
  font-size: 24px;
  font-weight: bold;
}

.head-inner{
  margin-top: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  height: 120px;
}

.nav-menu{
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-menu .link{
  color: $color;
  text-decoration: none;
  margin: 18px;
  font-style: 14px;
 }


 .link:hover{
  color: grey;
}

.head-title{
  margin-top: 200px;
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-weight: 400;
  color: $color;
}

.head-subtitle{
margin-top: 40px;
display: flex;
justify-content: center;
font-family: 'Roboto';
font-size: 20px;
color: $color;
margin-bottom: 40px;
}

.head-btn{
  margin-top: 30px;
  display: block;
  margin:  0 auto;
  border-radius: 2px;
  border-width: 2px;
  border-color:  #ffffff;
  border-style: solid;
  width: 176px;
  height: 46px;
  font-family: 'Montserrat';
  color:  #ffffff;
  font-size: 16px;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  &:hover{
  transform: scale(1.1);
  color: grey;
  }
}

.services-block{
  margin: 0 auto;
display: flex;
flex-direction: column;
max-width: 1200px;
width: 100%;
height: 578px;
background-color: $color;
}


.heading-box{
text-align: center;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;
max-width: 300px;
}

.heading{
margin: 0 auto;
margin-top: 65px;
padding: 30px;

font-family: 'Montserrat';
color:  #555555;
font-size: 20px;
}

.heading-line{
background-color: #555555;
width: 50px;
height: 2px;
}

.slogan{
margin-top: 30px;
color: #555555;
display: flex;
justify-content: center;
font-size: 16px;
font-family: 'Roboto';
}

.service-inner{
  margin-top: 65px;
  display: flex;
}

.inner-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 217px;
  max-width:400px;
  width: 100%;
}


.icon{
  border-radius: 50%;
  border-width: 2px;
  border-color:  #dddddd;
  border-style: solid;
  background-color:  #c0301c;
  width: 86px;
  height: 86px;
}

.icons{
padding-top: 15px;
color:$color;
font-size: 50px;
font-family: 'Roboto';
text-align: center;
}

.inner-subtitle{
margin-top: 10px;
text-align: center;
font-family: 'Montserrat';
color:  #555555;
font-size: 14px;
font-weight: 400;
}

.inner-text{
margin-top: 25px;
line-height: 24px;
text-align: center;
font-family: 'Roboto';
color:  #555555;
font-size: 14px;
}

.icon-two{
  position: relative;
  border-radius: 50%;
  border-width: 2px;
  border-color:  #dddddd;
  border-style: solid;
  background-color:  $color;
  max-width: 85px;
  max-height: 85px;
  height: 100%;
  width: 100%;
}

.icons-two{
font-weight: bold;
padding-top: 20px;
color:#c0301c;
font-size: 40px;
font-family: 'Roboto';
text-align: center;
}

.icon-img{
position: absolute;
top: 16px;
left:17px;
}

.about-block{
  margin: 0 auto;
  background-color: #f8f8f8;
  max-width: 1600px;
  width: 100%;
  height: 850px;
}

.about-inner{
display: flex;
margin: 0 auto;
max-width: 1200px;
width: 100%;
}

.inner-container{
  max-width: 600px;
  width: 100%;
  height: auto;
}

.about-text{
  padding-left: 25px;
  margin-top: 65px;
  color:#898989;
  font-size: 14px;
  font-family: 'Roboto';
  line-height: 24px;
}

.slider-photos{
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 305px;
}

.avatar{
  position: relative;
  max-width: 260px;
  width: 100%;
  height: 360px;
  &:hover {
    .hover-box{
      transition: 3s;
      display: block;
    }
  }
}

.avatar-mad{
  width: 100%;
}

.hover-box{/* Блок поверх блока при наведении родитель relativ*/
  position: absolute;
  top:0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  max-height: 250px;
  max-width: 263px;
  width: 100%;
  background-color:grey;
  opacity: 0.8;
  display: none;
  margin: 0 auto;
}

.socials{
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-top:205px;
  max-width:100px;
  max-height: 30px;
  width: 100%;
}

.red-icon{
  padding: 10px;
&:hover{
  padding: 10px;
background-color: #c0301c;
 }
}

.avatar-subtitle{
  color: #555555;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  font-family:'Montserrat';
  }

  .avatar-text{
    color: #555555;
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    font-family:'RobotoSlab';
  }

%avatar-btn{
  position: absolute;
  left: 0px;
  top:105px;
  color: $color;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: none;
  outline: none;
  padding-left: 0px;
  max-width: 35px;
  width: 100%;
  height: 38px;
  background: #c0301c;
}


.avatar-btn{
  @extend %avatar-btn;
  top:105px;
  left: 224px;
  }

 .avatar-btn:hover, .avatar-btn:hover{
  background-color: #8b8b8b;
  cursor: pointer;
}




.work-block{
  margin:  0 auto;
  max-width: 1200px;
  width: 100%;
  height: 1380px;

}

.heading-menu{
  margin-top: 30px;
  display: flex;
}

.work-menu{
  display: flex;
  align-items: center;
  list-style-type: none;
& .link{
  font-size: 16px;
  font-family:'RobotoSlab';
  color: #555555;
  text-decoration: none;
  margin: 11px;
  font-style: 14px;
  }
}

.work-menu .link:hover{
  color: #c0301c;
 }


.work-inner{
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  margin-top: 50px;
  max-width: 1200px;
  width: 100%;
  height: 1020px;
}

.work-box{
  position: relative;
  margin-top: 15px;
  max-width: 360px;
  height: 320px;
  width: 100%;
  background-color: #dddddd;
}

.work-photo{
  width: 100%;
  height: 100%;
}

.work-hover{
  position: absolute;
  top:0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  display: none;
  margin: 0 auto;
  max-width: 360px;
  max-height: 320px;
  background-color: rgba(211, 110, 96, 0.7);
}

.hover-title{
  margin-top: 105px;
  color: $color;
  text-align: center;
  font-size: 18px;
  font-family:'Montserrat';
}

.hover-subtitle{
  margin-top: 18px;
  color: $color;
  text-align: center;
  font-size: 12px;
  font-family:'RobotoSlab';
}

.hover-btn{
  display: block;
  margin-top: 18px;
  color: #c0301c;
  width: 100px;
  height: 45px;
  background: $color;
  border: none;
  cursor: pointer;
  margin-left: 128px;
}

.work-box {
  &:hover {
    .work-hover{
      display: block;
    }
  }
}

.project-block{
  margin: 0 auto;
  height: 368px;
  width: 100%;
  max-width: 1600px;
  background-image: url(./images/table.png)
}

.project-inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 368px;
  width: 100%;
  max-width: 1600px;
}

.project-title{
  font-size: 30px;
  font-family:'RobotoSlab';
  color: $color;
}

.project-btn{
  outline: none;
  margin-top: 50px;
  border-radius: 2px;
  border-width: 3px;
  border-color:  $color;
  border-style: solid;
  width: 176px;
  height: 46px;
  font-family: 'Montserrat';
  color:  $color;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
&:hover{
  transform: scale(1.1);
  color: grey;
 }
}

.blog{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 1080px;

}

.blog-inner{
  display: flex;
  margin-top: 75px;
  max-width: 1200px;
  width: 100%;
  height: 322px;
}

.blog-picture{
  max-width: 460px;
  height: auto;
}

.blog-photo{
  width: 100%;
}

.blog-content{
  margin-left: 40px;
  max-width: 760px;
  height: auto;
}

.october{
 display:flex;
  height: 78px;
  max-width:760px;
  width: 100%;
}

.october-content{
margin-left: 40px;
margin-top: 15px;
}

.date{
  text-align: center;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  border:3px solid #555555;
  color:  #555555;
  font-family: 'Montserrat';
  font-size: 20px;
}

.october-title{
  color: #c0301c;
  font-family: 'Montserrat';
  font-size: 16px;
}

.october-slogan{
  margin-top: 20px;
  font-size: 13px;
  font-family:'RobotoSlab';
  color: #777777;
}

.red{
  color: #c0301c;
}

.blog-text{
  width: 600px;
  margin-top: 20px;
  font-size: 14px;
  font-family:'RobotoSlab';
  color: #777777;
  line-height: 24px;
}

.blog-link{
  display: block;
  margin-top: 30px;
  color: #c0301c;
  font-size: 13px;
  font-family:'RobotoSlab';
  text-decoration: none;
}

.grey{
color: #777777;
}

.partners{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  height:476px;
  background-color: #f8f8f8;
}

.partners-inner{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height:476px;
  background-color: #f8f8f8;
}

.partners-logo{
  padding-top: 70px;
  }

  .partners-pic{
    width: 100%;
    max-width: 935px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

.partners-text{
  margin-top: 80px;
  text-align: center;
  color: #555555;
  font-size: 18px;
  font-family:'RobotoSlab';
  line-height: 30px;
  }

  .desc{
    margin-bottom: 40px;
    margin-top: 25px;
    text-align: center;
    color: #555555;
    font-size: 20px;
    font-family:'RobotoSlab';
  }

.slider{
  margin: 0 auto;
  max-width: 53px;
  height: 13px;
  display: flex;
  justify-content: space-between;
}

.control{
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #dddddd;
  &:hover{
    cursor: pointer;
    background-color: #c0301c;
   }
}

.address{
  margin: 0 auto;
  max-width: 1200px;
  height: 660px;
  width: 100%;
  }

  .address-inner{
    margin-top: 70px;
    display: flex;
    max-width: 1200px;
    height: 310px;
  }

.contact-box{
  margin-bottom: 32px;
}

.address-location{
  max-width: 395px;
  width: 100%;
  height: 310px;
  }

.address-title{
  display: flex;
}

.address-subtitle{
  padding-top: 1px;
  font-size: 14px;
  font-family:'Montserrat';
  color: #555555;
  margin-left: 10px;
}

.icon-address{
  width:5%;
  height: 1%;
}

address{
  line-height: 22px;
  margin-top: 20px;
  margin-left: 22px;
  font-size: 12px;
  font-family:'RobotoSlab';
  color: #555555;
}

.form-block{
  display:flex;
  height: 110px;
  max-width: 805px;
  width: 100%;
}

.form-box{
  max-width: 805px;
  width: 100%;
}

.form-container{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width:805px;
  width: 100%;
}

.input-form{
display: block;
border-color: #555555;
border-width: 1px;
font-size: 12px;
font-family:'RobotoSlab';
margin-left: 30px;
margin-bottom:24px;
outline-color: #c0301c;
color: black;
width: 350px;
height: 42px;
box-sizing: border-box;
padding-left: 15px;
}

.massage{
  resize:none;
  border-color: #555555;
  border-width: 1px;
  font-size: 12px;
  font-family:'RobotoSlab';
  margin-left: 30px;
  margin-bottom:24px;
  outline-color: #c0301c;
  color: black;
  max-width: 736px;
  width: 100%;
  height: 102px;
  box-sizing: border-box;
  padding-left: 13px;
  padding-top: 14px;
}

.btn-box{
  display: flex;

}
.massage-btn{
  cursor: pointer;
  border-color: #555555;
  border-width: 1px;
  font-size: 12px;
  font-family:'RobotoSlab';
  margin-left: 30px;
  margin-bottom:24px;
  outline-color: #c0301c;
  color: black;
  width: 170px;
  height: 42px;
  background-color: $color;
&:hover{
  color: #c0301c;
 }
}


.massage-text{
  padding-top: 14px;
  padding-left: 35px;
  color: #555555;
  font-size: 12px;
  font-family:'RobotoSlab'
}

footer{
margin: 0 auto;
max-width: 1600px;
height: 306px;
width: 100%;
background-color:  #c0301c;
}

.footer-inner{
display: flex;
flex-direction: column;
margin: 0 auto;
max-width: 1200px;
height: 306px;
width: 100%;
}

.twit-box{
  padding-top: 100px;
  margin: 0 auto;
  max-width: 190px;
  height: auto;
  padding-bottom: 30px;
}

.footer-line{
  width: 50px;
  height: 3px;
  margin: 0 auto;
  background-color: $color;
}

.footer-text{
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
  font-family:'RobotoSlab';
  color:$color;
}


@media screen and (max-width: 600px) {
.nav-menu, .logo-subtitle, .head-title,
.slider-photos, .heading-box, .work-inner,
.blog-inner, .about-inner,.work-menu{
  flex:none;
  display: block;
  }

.head{
    height: 550px;
  }

.slogan{
  text-align: center;
  font-size: 14px;
}

.logo-subtitle{
  margin-left: 30px;
  margin-top: 20px;
}

.nav-menu{
  margin-right: 15px;
  margin-top: 10px;
}

.list{
  margin: 15px;
}

.link{
  font-size: 18px;
}

.heading-line{
  display: none;
}

  .service-inner{
    margin-top: 10px;
    flex: none;
    display: block;
}

  .head-title{
    font-size: 40px;
    text-align: center;
    margin-top: 175px;
  }

  .slider-photos{
    align-items: center;
    flex-direction: column;
    display: flex;
    max-width: 360px;
    height: 800px;
    margin-top: 30px;
    }

.inner-box{
  margin-top:25px;
}

.heading-box{
}

.avatar{
  margin-top: 20px;
}

.avatar-btn{
 display: none;
}

.about-block{
  position: relative;
  margin-top: 375px;
  height: 750px;
}

.work-block{
margin-top: 1450px;
}

.work-box{
height: 300px;
width: 96%;
}

.work-hover{
  width: 307px;
  height: 300px
}

.hover-btn{
  margin-left: 107px;
}

.heading-menu{
padding-left: 75px;
}

.work-inner{

display: flex;
flex-wrap: nowrap;
flex-direction: column;
align-items: center;

}

.work-menu{

  }

.blog-photo {
justify-content: center;
display: flex;
width: 72%;
height: 0%;
}

.blog-picture{
  width: 320px;
}

.october-content {
  margin-left: 13px;
}

.work-menu .link{
  margin: 10px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-inner{
  margin-top: 1865px;
}

.blog-inner{
margin-bottom: 240px;
margin-top: 30px;
}

.blog-picture {
display: flex;
 justify-content: center;
  }

.blog-photo {
  width: 72%;
}

.october{
  margin-top: 25px;
}

.partners{
  margin-top: 250px;
}

.partners-pic {
    width: 90%;
  }

.partners-text{
  font-size: 15px;
}

.desc{
  font-size: 18px;
}

.input-form{
padding-left: 10px;
max-width: 115px;
height: 30px;
 }

.massage{
  padding-left: 10px;
  height: 65px;
  max-width: 117px;
}

.address-location{
  width: 250px
}

.address-inner{
  padding-left: 20px;
}

.icon-address {
width: 11%;
  }

.blog-text{
  font-size:13px;
  max-width: 275px;
}

.massage-text{
  display: none;
  line-height: 15px;
}

.project-title{
  font-size: 26px;
  text-align: center;
}

.massage-btn{
width: 90px;
}


.blog-link {
  display: flex;
  justify-content: center;
  }

}
