*{
  margin:auto 0px;
  width: : 1200px;}

header{
  background-color: #290000;
  width: 1200px;
  height: 600px;
}

.logo{
  margin: 0;
  width: 960px;}

 p{
   color:white;
   font: 28px 'Georgia', regular;
   line-height: 12px;}

 p span{
   color:white;
   font: 11px 'Georgia', regular;}

   .top-menu{
     float: right;
   }

.top-menu li{
  list-style-type: none;
  display: inline;
  padding: 20px;}

  li a{
    text-decoration: none;
    color: white;}



  h1{
  color:white;
  font: 46px 'Georgia', regular;
  padding-top: 130px;
  padding-left: 185px;
  line-height: 45px;}

  .text{
    padding-top: 30px;
    color:white;
    font: 13px 'Georgia', regular;
    line-height: 19px;
    padding-left: 185px;}

.cursus{width: 500px;}
  .cursus a{
    color: white;
    decoration: none;
    font: 13px 'Georgia', regular;
    padding-left: 200px;}

  .circle{
  width: 380px;
  height: 380px;
  border: 25px solid grey;
  border-radius: 50%;
  background: #333333;
  position: absolute;
  left: 590px;
top:120px;}


  .title {margin:auto ;
    width: 1200px;
    height: 365px;
    background-color: #660000;}


.square{position: absolute;
  width: 120px;
  height: 120px;
  background-color: #333333;}



    .block1{
      box-sizing: border-box;
      padding-top: 158px;
      text-align: center;
    width:  225px;
    height:  305px;
    position: absolute;
    top:660px;
    margin-left: 120px;
  background-color:white;}

  span {padding-top:158px;
    line-height: 32px;
    font-family: Georgia;
    font-size: 32px;}

.text-name{padding-top: 23px;
  line-height: 17px;
  font-family: Georgia;
  font-size: 12px;
color:#979797;}
