
@font-face {
font-family: 'Georgia';
src: url("fonts/georgia");
}

*{
  margin: 0 auto;
}

header{
  background-color: #290000;
  width: 1200px;
  height: 600px;
}

.logo{
  display: inline-block;
margin-left: 120px;
margin-top: 60px;}

.logo p{
    color:white;
    font: 28px 'Georgia', regular;
    line-height: 12px;}

  .logo span{
    color:white;
    font: 11px 'Georgia', regular;}

  .menu{
      display: inline-block;
    margin-right:95px;}

  .top-menu li{
    list-style-type: none;
    display: inline;
    padding: 13px 20px;
    border-radius: 15px;}

    .top-menu li:hover{
    background-color: #76c38f;
    }

.top-menu a{
      text-decoration: none;
      color: white;
}


  h1{
  color:white;
  font: 46px 'Georgia', regular;
  padding-top: 130px;
  padding-left: 185px;
  line-height: 45px;}

  .text{
    padding-top: 30px;
    color:white;
    font: 13px 'Georgia', regular;
    line-height: 19px;
    padding-left: 185px;}

.cursus a{
  display: inline-block;
    color: white;
    text-decoration:none;
    font: 13px 'Georgia', regular;
  margin-left: 200px;
  margin-top: 20px;
  padding: 13px 16px;
  border-radius: 15px;
}

 a:hover{
background-color: #76c38f;
}

  .circle{
  width: 380px;
  height: 380px;
  border: 25px solid grey;
  border-radius: 50%;
  background: #333333;
  position: absolute;
  left: 640px;
  top:120px;}

  .circle p{
      font: 26px 'Georgia', regular;
      text-align: center;
      color: white;
  }

  .blocks{
    background-color: #660000;
    height:365px;
    width: 1200px;
  }



  .first-block{
      display: inline-block;
      z-index: 1;
      box-sizing: border-box;
      padding-top: 158px;
      text-align: center;
      width:  225px;
      height:  305px;
      position: absolute;
      top:660px;
      margin-left: 120px;
      background-color:white;}

      .first-block :hover{
        color:  #76c38f;
      }



  .first-block  span {
      padding-top:158px;
      line-height: 32px;
      font-family: Georgia;
      font-size: 32px;}

  .text-name{
    padding-top:23px;
    line-height: 17px;
    font-family: Georgia;
    font-size: 12px;
    color:#979797;}

  .first-square{display: inline-block;
    position: absolute;
    left: 247px;
    top: 680px;
    width: 120px;
    height: 120px;
    background-color: #333333;
    z-index: 2;}

    .second-block{z-index: 1;
        box-sizing: border-box;
        padding-top: 158px;
        text-align: center;
        width:  225px;
        height:  305px;
        position: absolute;
        top:660px;
        margin-left: 365px;
        background-color:white;}

    span {
      padding-top:158px;
        line-height: 32px;
        font-family: Georgia;
        font-size: 32px;}

    .text-name{
      padding-top:23px;
      line-height: 17px;
      font-family: Georgia;
      font-size: 12px;
    color:#979797;}

    .second-square{position: absolute;
      left: 492px;
      top: 680px;
      width: 120px;
      height: 120px;
      background-color: #333333;
      z-index: 2;}

      .third-block{display: inline-block;
        z-index: 1;
          box-sizing: border-box;
          padding-top: 158px;
          text-align: center;
          width:  225px;
          height:  305px;
          position: absolute;
          top:660px;
          margin-left: 610px;
          background-color:white;}

      span {
        padding-top:158px;
          line-height: 32px;
          font-family: Georgia;
          font-size: 32px;}

      .text-name{
        padding-top:23px;
        line-height: 17px;
        font-family: Georgia;
        font-size: 12px;
        color:#979797;}

      .third-square{
        position: absolute;
        left: 737px;
        top: 680px;
        width: 120px;
        height: 120px;
        background-color: #333333;
        z-index: 2;}

.fourth-block{
display: inline-block;
z-index: 1;
box-sizing: border-box;
padding-top: 158px;
text-align: center;
width:  225px;
height:  305px;
position: absolute;
top:660px;
margin-left: 855px;
background-color:white;
}

span {
padding-top:158px;
line-height: 32px;
font-family: Georgia;
font-size: 32px;
}

.text-name{
  padding-top:23px;
  line-height: 17px;
  font-family: Georgia;
  font-size: 12px;
  color:#979797;
}

.fourth-square{
  position: absolute;
  left: 982px;
  top: 680px;
  width: 120px;
  height: 120px;
  background-color: #333333;
  z-index: 2;}

.latest-work{
 width: 1200px;
 height: 118px;
 background-color:#660000;
}

.line{
  z-index: 1;
  display: inline-block;
  width:960px;
  height: 3px;
  background-color: #303030;
  margin-top: 56px;
  margin-left: 120px;
}

h2{
  display:inline-block;
  z-index: 2;
  font-family: Georgia;
  font-size: 32px;
  padding:13px 15px;
  background-color: #303030;
  border-radius: 10px;
  position: absolute;
  left: 532px;
  top: 992px;}

.dolar-content{
  width: 1200px;
  height: 492px;
  background-color: #660000;
}

.title{
  width: 990px;
  height: 460px;
  display: flex;
  flex-wrap: wrap;
 }

.dolone{display: inline-block;
  background-color:#303030;
  height: 196px;
  width: 290px;
  border: 5px solid white;
}

.lorem-one p{
   font-family: Georgia;
   font-size: 14px;
   text-align: center;
   background-color: black;
   padding: 10px 0px;
   margin-top: 160px;
   color: white;

}
.dolone:hover{
  border: 5px solid #76c38f;
}

.doltwo{
  display: inline-block;
  background-color: #303030;
  height: 196px;
  width: 290px;
  border: 5px solid white;
}

.lorem-two p{
  font-family: Georgia;
   font-size: 14px;
   text-align: center;
   background-color: black;
   padding: 10px 0px;
   margin-top: 160px;
   color: white;
}

.doltwo:hover{
  border: 5px solid #76c38f;
}

.dolthree{display: inline-block;
  background-color: #303030;
  height: 196px;
  width: 290px;
  border: 5px solid white;
}

.lorem-three p{
   font-family: Georgia;
   font-size: 14px;
   text-align: center;
   background-color: black;
   padding: 10px 0px;
   margin-top: 160px;
   color: white;
}

.dolthree:hover{
  border: 5px solid #76c38f;
}

.dolfour {
  display: inline-block;
  background-color: #303030;
  height: 196px;
  width: 290px;
  border: 5px solid white;
}

.lorem-four p{
  font-family: Georgia;
   font-size: 14px;
   text-align: center;
   background-color: black;
   padding: 10px 0px;
   margin-top: 160px;
   color: white;
}

.dolfour:hover{
  border: 5px solid #76c38f;
}

.dolfive {display: inline-block;
  background-color: #303030;
  height: 196px;
  width: 290px;
  border: 5px solid white;
}
.lorem-five p{
  font-family: Georgia;
   font-size: 14px;
   text-align: center;
   background-color: black;
   padding: 10px 0px;
   margin-top: 160px;
   color: white;
}
.dolfive:hover{
  border: 5px solid #76c38f;
}

.dolsix {display: inline-block;
  background-color: #303030;
  height: 196px;
  width: 290px;
  border: 5px solid white;
}
.lorem-six p{
  font-family: Georgia;
   font-size: 14px;
   text-align: center;
   background-color: black;
   padding: 10px 0px;
   margin-top: 160px;
   color: white;
}

.dolsix:hover{
  border: 5px solid #76c38f;
}

.bottom-content{
  width: 1200px;
  height: 386px;
  background-color: #303030;
}
.botcon{
  padding-top: 40px;
  width: 990px;
  height: 386px;
  display: flex;
  flex-wrap: wrap;
}

.blog{
width: 225px;
height: 100%;
display: inline-block;
}

 .blog p{
display: block;
margin-top: 0px;
font-family: Georgia;
font-size: 16px;
color: white;
}

.title-post{
   display: inline-block;
   font-family: Georgia;
   font-size: 13px;
   color: #76c38f;
   padding: 0px;
   margin-top: 15px;
}

.admin{
   padding: 0px;
   font-family: Georgia;
   font-size: 10px;
   color: #979797;
}

.admin-color{
  padding: 0px;
  color: #76c38f;
  font-family: Georgia;
  font-size: 10px;
}

.blog time{
display: inline-block;
margin-top: 10px;
font-family: Georgia;
font-size: 10px;
color: #979797;

}
 .text-blog p{
 display: inline-block;
 margin-top: 13px;
 font-family: Georgia;
 font-size: 13px;
 line-height: 20px;
 color: #979797;
}

.blog a{
display: block;
margin-top: 12px;
text-decoration: none;
color: #76c38f;
font-family: Georgia;
font-size: 13px;
}

.blog a:hover{
  background-color:#303030;
}

.links{
  width: 225px;
  height: 100%;
  display: inline-block;
  margin-bottom: 0px;
}

.quick{
display: block;
color: white;
font-family: Georgia;
font-size: 16px;
}

.link-menu{
  margin-top: 35px;
  display: block;
  list-style-type: none;
  padding-left: 0px;
  font-family: Georgia;
  font-size: 13px;
  color: #76c38f;
}

 .link-menu li {
  border-bottom: 1px solid #404040;
  padding: 10px 0px
}

.link-menu a{
  text-decoration: none;
  color: #76c38f;
}

 .link-menu a:hover{
  color: #76c38f;
  background-color:#303030;
}

.tweets{margin-top: 1px;
  width: 225px;
  height: 100%;
  display: inline-block;
}

.lt{display: block;
  color: white;
  font-family: Georgia;
  font-size: 16px;
}

 .tweettext-one{
   margin-top: 35px;
   display: block;
   font-family: Georgia;
   font-size: 13px;
   line-height: 20px;
   color: #979797;
 }

 .tweettext-one span{
   color:#76c38f;
   font-family: Georgia;
   font-size: 13px;
   padding: 0px;
   line-height: 20px;
 }

 .tweettext-two{
   margin-top: 44px;
   display: block;
   font-family: Georgia;
   font-size: 13px;
   line-height: 20px;
   color: #979797;
 }

 .tweettext-two span{
   padding: 0px;
   color:#76c38f;
   font-family: Georgia;
   font-size: 13px;
   line-height: 20px;
 }

 .contact{
   display: inline-block;
   width: 225px;
   height: 100%;
}

form{display: block;
  margin-top: 38px;
}

textarea{
  box-sizing: border-box;
  padding-top: 20px;
  font-family: Georgia;
  font-size: 13px;
  resize:none;
  width: 225px;
  outline:none;
  border-radius: 12px;
  border: 0px solid #222222;
  background-color: #222222;
  color:#979797;
}

.contact-us{
  color: white;
  display: block;
  font-family: Georgia;
  font-size: 16px;
}

button{
  display: inline-block;
  border-radius: 10px;
  background-color: #76c38f;
  color: #303030;
  font-family: Georgia;
  font-size: 12px;
  width: 75px;
  height: 35px;
  outline: none;
  border: 0px;
  margin-top: 10px;
}

.black-line{
  background-color: black;
  width: 1200px;
  height: 1px;

}
.grey-line{
  background-color: grey;
  width: 1200px;
  height: 1px;
}

footer{
  height:60px;
  width: 1200px;
  background-color: #2b2b2b;
  }

  .left{
    margin-left: 120px;
    margin-top: 15px;
    display:inline-block;
    padding: 0px;
    font-family: Georgia;
    font-size: 13px;
    color: #303030;
}

.right{
  margin-right: 120px;
  margin-top: 15px;
  float: right;
  padding: 0px;
  display: inline-block;
  font-family: Georgia;
  font-size: 13px;
  color: #979797;
}
